---
layout: base
---

<section>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Nota</th>
          <th>Sitio web</th>
          <th>¡Házselo saber!</th>
        </tr>
      </thead>
      <tbody>
        {% for web in results.meta %}
          {% set security = results[web.url | replace(".", "!")] %}
          <tr style="background-color: {{ security | color }}">
            <td><abbr title="{{ security | abbr }}">{{ security.grade }}</abbr></td>
            <td>
              <a href="https://observatory.mozilla.org/analyze/{{ web.url }}" target="_blank" alt="{{ web.name }}" title="Detalles técnicos de {{ web.name }}">{{ web.url | replace("www.", "") }}</a>
            </td>
            <td>
              {% if (web.twitter) and (security.score < 50) %}
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet/?text={{ 'Hola @' + web.twitter + '

🔒 La seguridad de vuestra web y usuarios puede ser comprometida si no actualizáis vuestras conexiones seguras (HTTPS).
⚠️ ¡Por favor, revisadlo cuanto antes!

websegura.pucelabits.org

#websegura /vía @PucelaBits' | urlEncode }}" target="_blank" rel="noopener" aria-label="Twitter">
                  <span class="icon brands fa-twitter">
                  <span>Twitter</span>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a></p>
  </div>
</section>
