---
layout: base
location: España
---
<header>
  <h1>🔭 Observatorio de seguridad web de {{ location }}</h1>
  <p class="subtitle">Analizamos sitios públicos de {{ location }} para saber si protegen la privacidad y seguridad de sus usuarios.</p>

  <p><button><a href="/p/madrid">Madrid</a></button> <button><a href="/p/valladolid">Valladolid</button></p>

  <p><small>(<a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">Ayúdanos a añadir otras provincias</a>)</small></p>

  {% include "header.njk" %}

  {% from "tabla.njk" import tabla %}

  <section>
    <div class="table-wrapper" id="resultados">
      <h2>España</h2>
      {{ tabla(general.webs, results)}}
      <p>
        <a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a>
      </p>
    </div>
  </section>
