  <p><strong>¿Qué son y por qué son importantes las conexiones seguras (HTTPS)?</strong></p>

  <ul class="iconify">
    <li><span class="emoticon">🔒</span> <strong>HTTPS</strong> permite <strong>cifrar</strong> el contenido mientras viaja de la web a tu dispositivo y vuelta.</li>
    <li><span class="emoticon">🕵️</span> Impide que puedan <strong>interceptar</strong> los datos que introduces (contraseñas, datos bancarios, personales o médicos).
    <li><span class="emoticon">💉</span> Impide que terceros <strong>"inyecten"</strong> contenido dañino o modifiquen la información sin que te enteres.</li>
    <li><span class="emoticon">⚠️</span> <strong>Los sitios sin una nota A o B</strong> tienen deficiencias, ¡tu privacidad está en riesgo!</li>
    <li>📌 <a href="/faq/">Lee en detalle todos los riesgos</a>.</li>
  </ul>

  <p id="cta-featured" class="featured"><span class="emoticon">🗣</span> <span class="cta-twitter">¡Exijamos públicamente mejor seguridad mandándoles un tuit!</span></p>

</header>
