  <p><strong>¿Qué son y por qué son importantes las conexiones seguras (HTTPS)?</strong></p>

  <ul class="iconify">
    <li><span class="emoticon">🔒</span> <strong>HTTPS</strong> permite <strong>cifrar</strong> el contenido mientras viaja de la web a tu dispositivo y vuelta.</li>
    <li><span class="emoticon">🕵️</span> Impide que nadie pueda <strong>interceptar</strong> los datos que introduces (contraseñas, datos bancarios, personales o médicos).
    <li><span class="emoticon">💉</span> Impide que terceros <strong>"inyecten"</strong> contenido dañino o modifiquen la información de forma no detectable.</li>
    <li><span class="emoticon">⚠️</span> <strong>Si no tienen una nota A o B</strong>, usan una implementación deficiente, ¡tu privacidad está en riesgo!</li>
    <li><span class="emoticon">⛔️</span> Algunas no implementan protección alguna.</li>
  </ul>

  <p class="featured"><span class="emoticon">🗣</span> ¡Exijamos públicamente mejor seguridad mandándoles un tuit!</p>

</header>
