tr.severe {
  background-color: #d9534f45;
}

tr.moderate {
  background-color: #f0ad4e45;
}

tr.safe {
  background-color: #3fad4645;
}

tr.unknown {
  background-color: #eee8e8;
}

span.icon {
  font-size: 2em;
}

ul.iconify li {
  list-style: none;
  margin: 1em 0;
  line-height: 1.7em;
}
