---
layout: base
pagination:
  data: comunidades
  size: 1
  alias: comunidad
permalink: "c/{{ comunidad }}/"
---

{% set c = comunidades[comunidad] %}

<h1>🔭 Observatorio de seguridad web de
  {{ c.name }}</h1>

<p id="breadcumbs">
  <a href="/">España</a>
  -
  {{ c.name }}</p>

<p class="subtitle">Analizamos sitios públicos de
  {{ c.name }}
  para saber si protegen la privacidad y seguridad de sus usuarios.</p>

<p class="button">
  <a id="cta" href="#cta-featured">Ver quién no es seguro</a>
</p>

{% include "header.njk" %}

{% from "tabla.njk" import tabla %}

<section>
  <div class="table-wrapper" id="resultados">
    <h2>{{ c.name }}</h2>
    {{ tabla(c.webs, results, path=page.url)}}
    <p>
      <a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a>
    </p>
  </div>

  <h2>Provincias</h2>
    <p>
  {% for name, provincia in provincias %}
    {% if provincia.comunidad == comunidad %}
      <button class="provincia">
        <a href="/p/{{ name }}">{{ provincia.name }}</a>
      </button>
    {% endif %}
  {% endfor %}
    </p>

  <p>
      <small>(<a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">Ayúdanos a añadir otras provincias</a>)</small>
  </p>


</section>
