---
layout: base
pagination:
  data: comunidades
  size: 1
  alias: comunidad
permalink: "c/{{ comunidad }}/"
---

{% set c = comunidades[comunidad] %}

<p id="breadcumbs">
  <a href="/">España</a>
  -
  {{ c.name }}</p>

<h1>{{ c.name }}</h1>

<p class="subtitle">Analizamos sitios públicos de
  {{ c.name }}
  para saber si protegen la privacidad y seguridad de sus usuarios.</p>

<div class="score-container">
  <div class="score-bar">
    <div class="score-progress" data-score="{{ all | filterByTerritorioId(comunidad) | safeScore }}"></div>
  </div>

  <p>
    <strong>{{ all | filterByTerritorioId(comunidad) | safeScore }}%</strong>
    de las webs completamente seguras ({{ all | filterByTerritorioId(comunidad) | scoreGt(69) | length}}/{{ all | filterByTerritorioId(comunidad) | length}})</p>
</div>

<p class="button">
  <a id="cta" href="#cta-featured">Ver quién no es seguro</a>
</p>

{% include "header.njk" %}

{% from "tabla.njk" import tabla %}

<section>
  <div class="table-wrapper" id="resultados">
    <h2>{{ c.name }}</h2>
    {{ tabla(all | filterByTerritorioId(comunidad), path=page.url)}}
    <p>
      <a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a>
    </p>
  </div>

  <h2>Provincias</h2>
  <p>
    {% for name, provincia in provincias %}
      {% if provincia.comunidad == comunidad %}
        <button class="provincia">
          <a href="/p/{{ name }}">{{ provincia.name }}</a>
        </button>
      {% endif %}
    {% endfor %}
  </p>

  {% if provincias | length < 50 %}
  <p>
    <small>
    (<a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">Ayúdanos a añadir otras provincias, ¡ya sólo faltan {{ 50 - provincias | length }}!</a>)
    </small>
  </p>
  {% endif %}

</section>