---
layout: base
name: España
permalink: /
---
{% set count = 0 %}
{% set countFail = 0 %}

<h1>#websegura</h1>

<p class="subtitle">Analizamos <strong>
{% for name, result in results %}
  {% if loop.last %}
    {{ loop.index }}
  {% endif %}
{% endfor %}
 </strong> sitios públicos de
  {{ name }}
  para saber si protegen la privacidad y seguridad de sus usuarios.</p>

<p>🎖 Sólo <a href="/ranking/"><strong>{% for name, result in results %}
  {% if result.score > 60 %}{% set count = count+1%}{% endif %}
  {% if loop.last %}{{ count }}{% endif %}
  {% endfor %}</strong> sitios</a> tienen una nota segura.<br /> 🤦‍♂️ <a href="/ranking/#hall-of-shame"><strong>{% for name, result in results %}
  {% if result.tests_passed < 5 %}{% set countFail = countFail+1%}{% endif %}
  {% if loop.last %}{{ countFail }}{% endif %}
  {% endfor %}</strong> sitios</a> no tienen seguridad alguna.</p>

<p>
  <button class="provincia">
    <a href="#cta-featured">Webs nacionales</a>
  </button>
  {% for code, p in provincias %}
    <button class="provincia">
      <a href="/p/{{ code }}">{{ p.name }}</a>
    </button>
  {% endfor %}
</p>

<p>
  <small>(<a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">Ayúdanos a añadir otras provincias</a>)</small>
</p>

{% include "header.njk" %}

{% from "tabla.njk" import tabla %}

<section>
  <div class="table-wrapper" id="resultados">
    <h2>{{ name }}</h2>
    {{ tabla(general.webs, results, path=page.url) }}
    <p>
      <a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a>
    </p>
  </div>
</section>
