---
layout: base
name: España
permalink: /
title: "#websegura"
---

<h1>#websegura</h1>

<p class="subtitle">Analizamos
  <strong>
    {{ all | length }}
  </strong>
  sitios públicos para saber si protegen la privacidad y seguridad de sus usuarios.</p>

<p class="centered">🎖️ Sólo
  <a href="/ranking/">
    <strong>
      {{ all | scoreGt(69) | length }}
    </strong>
    sitios</a>
  tienen una nota segura.<br/>
  ☠️
  <a href="/ranking/#hall-of-shame">
    <strong>
      {{ all | testsPassedLt(5) | length }}
    </strong>
    sitios</a>
  no tienen seguridad alguna.</p>

<div class="score-container">
  <div class="score-bar">
    <div class="score-progress" data-score="{{ all | safeScore }}"></div>
  </div>

  <p><strong>{{ all | safeScore }}%</strong> de las webs completamente seguras</p>
</div>

<p>
  <button class="provincia">
    <a href="#cta-featured">Webs nacionales</a>
  </button>
  {% for code, p in provincias %}
    <button class="provincia">
      <a href="/p/{{ code }}">{{ p.name }}</a>
    </button>
  {% endfor %}
</p>

{% if provincias | length < 50 %}
<p>
  <small>
  (<a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">Ayúdanos a añadir otras provincias, ¡ya sólo faltan {{ 50 - provincias | length }}!</a>)
  </small>
</p>
{% endif %}

{% include "header.njk" %}

{% from "tabla.njk" import tabla %}

<section>
  <div class="table-wrapper" id="resultados">
    <h2>{{ name }}</h2>
    {{ tabla(all | filterByTerritorioId("general"), path=page.url) }}
    <p>
      <a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a>
    </p>
  </div>
</section>
