---
layout: base
permalink: "/progreso/"
title: "¿Cómo han mejorado las webs?"
---

{% from "tabla.njk" import tabla %}

<p id="breadcumbs">
  <a href="/">España</a>
  -
  {{ title }}</p>

<h1>🏆
  {{ title }}</h1>

<p>
  Aquí registramos todos los cambios en la calificación de la seguridad de las páginas desde que abrimos el observatorio.
</p>

{% for name, result in results.progress %}
  <p>{{ name }}</p>
  <ul>
    {% for item in result %}
      <li>{{item.end_time}}
        -
        {{ item.grade }}
        ({{item.score}})</li>
    {% endfor %}
  </ul>
  <hr/>
{% endfor %}

</section>