---
layout: base
pagination:
  data: provincias
  size: 1
  alias: provincia
permalink: "p/{{ provincia }}/"
---

{% set p = provincias[provincia] %}
{% set c = comunidades[p.comunidad] %}

<p id="breadcumbs">
  <a href="/">España</a>
  {% if c.webs %}
    -
    <a href="/c/{{ p.comunidad }}">{{ comunidades[p.comunidad].name }}</a>
  {% endif %}
  -
  {{ p.name }}</p>

<h1>{{ p.name }}</h1>

<p class="subtitle">
  Analizamos sitios públicos de
  {{ p.name }}
  para saber si protegen la privacidad y seguridad de sus usuarios.</p>

<div class="score-container">
  <div class="score-bar">
    <div class="score-progress" data-score="{{ all | filterByTerritorioId(provincia)| safeScore }}"></div>
  </div>

  <p><strong>{{ all | filterByTerritorioId(provincia)| safeScore }}%</strong> de las webs completamente seguras ({{ all | filterByTerritorioId(provincia) | scoreGt(69) | length}}/{{ all | filterByTerritorioId(provincia) | length}})</p>
</div>

<p class="button">
  <a id="cta" href="#cta-featured">Ver quién no es seguro</a>
</p>

{% include "header.njk" %}

{% from "tabla.njk" import tabla %}

<section>
  <div class="table-wrapper" id="resultados">
    <h2>{{ p.name }}</h2>
    {{ tabla(all | filterByTerritorioId(provincia), path=page.url)}}
    <p>
      <a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a>
    </p>

    {% if c.webs %}
      <h2>
        <a href="/c/{{ p.comunidad }}">{{ c.name }}</a>
      </h2>
      {{ tabla(all | filterByTerritorioId(p.comunidad), path=page.url)}}
      <p>
        <a href="https://github.com/PucelaBits/websegura#a%C3%B1adir-una-web">+ Añadir una web nueva</a>
      </p>
    {% endif %}
  </div>
</section>
