---
layout: base
permalink: "/ranking/"
title: "Ranking: Las mejores y las peores webs"
---
<h1>🏆 {{ title }}</h1>

<p id="breadcumbs">
  <a href="/">España</a> - {{ title }}</p>

<section>
  <div class="table-wrapper" id="resultados">
    <h2>🎖 Hall de la fama</h2>
    <p>Estos sitios son seguros y tienen una nota A o B.</p>
      <table>
        <thead>
          <tr>
            <th id="nota">Nota</th>
            <th id="web">Sitio web</th>
          </tr>
        </thead>
        <tbody>
            {% for name, result in results %}
            {% if result.score > 60 %}
            <tr class="{{ result | color }}">
              <td>
                <a href="/w/{{ name }}">{{ result.grade }}</a>
              </td>
              <td>
                <a href="/w/{{ name }}">{{ name | replace("!", ".") |  replace("www.", "")}}</a>
              </td>
              </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>

        <h2>🤦‍♂️ Hall de la vergüenza</h2>
        <p>Estos sitios completamente inseguros, ¡no implementan ninguna medida de seguridad!</p>
          <table>
            <thead>
              <tr>
                <th id="nota">Nota</th>
                <th id="web">Sitio web</th>
              </tr>
            </thead>
            <tbody>
              {% for name, result in results %}
                {% if result.tests_passed < 5 %}
                <tr class="{{ result | color }}">
                  <td>
                    <a href="/w/{{ name }}">⛔️</a>
                  </td>
                  <td>
                    <a href="/w/{{ name }}">{{ name | replace("!", ".") |  replace("www.", "")}}</a>
                  </td>
                  </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
        <p class="tablefooter">(Las notas se actualizan diariamente)</p>
  </div>
</section>
