---
layout: base
pagination:
  data: tags
  size: 1
  alias: tag
permalink: "l/{{ tag.name | slug }}/"
---

{% from "tabla.njk" import tabla %}

<h2>{{ tag.description }}</h2>

{{ tabla(all | tagged(tag), path=page.url) }}
