---
layout: base
pagination:
  data: results
  size: 1
  alias: r
permalink: "w/{{ r }}/"
---

{% set result = results[r] %}
{% set history = results.history[r] %}
{% set url = r | replace("!", ".") %}
{% from "details.njk" import details %}

{% for name, provincia in provincias %}
  {% for w in provincia.webs %}
    {% if w.url == url %}
      {{ details(w, result, history, page.url, "p", name, provincia) }}
    {% endif %}
  {% endfor %}
{% endfor %}

{% for name, comunidad in comunidades %}
  {% for w in comunidad.webs %}
    {% if w.url == url %}
      {{ details(w, result, history, page.url, "c", name, comunidad) }}
    {% endif %}
  {% endfor %}
{% endfor %}

{% for w in general.webs %}
  {% if w.url == url %}
    {{ details(w, result, history, page.url) }}
  {% endif %}
{% endfor %}